<!DOCTYPE html>
<html lang="en">
    <!-- container-fluid -->
    <head>
        <title>Unicorn Admin</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="stylesheets/basic/bootstrap.min.css" />
        <link rel="stylesheet" href="stylesheets/basic/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="stylesheets/basic/fullcalendar.css" />
        <link rel="stylesheet" href="stylesheets/basic/unicorn.main.css" />
        <link rel="stylesheet" href="stylesheets/basic/unicorn.grey.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
    <body>
        {{{body}}}

        {{foot}}
    </body>
</html>
